<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"></button>

  <div class="navbar-header">
    <a href="#" class="navbar-brand">Recipe Book</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link" href="#">Recipes</a></li>
      <li><a class="nav-item nav-link" href="#">Shopping List</a></li>
    </ul>
    <ul class="navbar-nav">
      <a href="#" class="nav-link dropdown-toggle" role="button">Manage</a>
      <li class="dropdown">
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Save Data</a></li>
          <li><a class="dropdown-item" href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- TODO Add hamburger menu -->
